.star-war-list {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.star-war-list td, .star-war-list th {
  border: 1px solid #ddd;
  padding: 8px;
}

.star-war-list tr:nth-child(even){background-color: #f2f2f2;}

.star-war-list tr:hover {background-color: #ddd;}

.star-war-list th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #282c34;
  color: white;
}